body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  main {
    width: 50%;
    @media(max-width: 768px) {
      width: 80%;
    }
    canvas {
      width: 100%;
      height: auto;
    }
    #wrap {
      input, button {
        width: 100%;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        display: block;
      }
    }
  }
}
